<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <br></br>
        <title>writers</title>
        <style type="text/css">

            table.tab {
                border-width: 2px;
                border-color: black;
                margin: auto;
                border-collapse: collapse;
                width: 600px;
                border-bottom-width: medium;
            }
        </style>
    </head>
    <body>
    <br></br>
    <table class="tab">
        <thead>
        <tr>
            <th>Posted date</th>
            <th>Title</th>
            <th>Author</th>

            <th>view post</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${#dates.format(post.postDate, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${post.heading}"></td>
            <td th:text="${post.writer.firstName}"></td>

            <td><a th:href="|@{/post/}${post.id}|">Detail</a></td>
            <td><a th:href="|@{/edit}${post.id}|">Edit</a></td>
            <td><a th:href="|@{/admin/delete/}${post.id}|">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <!--<h1><a th:href="|@{/admin/edit/}${post.id}|"></a></h1>-->

    </body>
</layout:html>
