<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <title>Blog Home Page</title>
    </head>
    <body>

    <h2>Edit post</h2>
    <br/>

    <form class="form-horizontal" th:object="${post}" th:action="@{/admin/onlySave}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div th:class="form-group" th:classappend="${#fields.hasErrors('heading')}? 'has-error'">
            <label class="col-sm-2 control-label">Title <span class="required">*</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{heading}"/>
                <span th:if="${#fields.hasErrors('heading')}" th:errors="*{heading}"
                      th:class="help-block">Title Errors</span>
            </div>
        </div>
        <div th:class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
            <label class="col-sm-2 control-label">Description <span class="required">*</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">description error</span>
            </div>
        </div>
        <!--<div th:class="form-group" th:classappend="${#fields.hasErrors('postDate')}? 'has-error'">-->
            <!--<label class="col-sm-2 control-label">post date <span class="required">*</span></label>-->
            <!--<div class="col-md-10">-->
                <!--<input type="datetime" class="form-control" th:field="*{postDate}"/>-->
                <!--<span th:if="${#fields.hasErrors('postDate')}" th:errors="*{postDate}" th:class="help-block">Posted date Errors</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div th:class="form-group" th:classappend="${#fields.hasErrors('keywords')}? 'has-error'">-->
            <!--<label class="col-sm-2 control-label">Keywords <span class="required">*</span></label>-->
            <!--<div class="col-md-10">-->
                <!--<input type="text" class="form-control" th:field="*{keywords}"/>-->
                <!--<span th:if="${#fields.hasErrors('keywords')}" th:errors="*{keywords}" th:class="help-block">Keywords Errors</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Active</label>-->
            <!--<div class="col-md-10">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" th:field="*{active}"/>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div th:class="form-group" th:classappend="${#fields.hasErrors('writer')}? 'has-error'">
            <label class="col-sm-2 control-label">Writer <span class="required">*</span></label>
            <div class="col-md-10">
                <select class="form-control" th:field="*{writer}">
                    <option value="">Select Writer</option>
                    <option th:each="writer : ${writers}" th:value="${writer.id}"
                            th:text="${writer.firstName + ' ' + writer.lastName}">Authors
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}"
                      th:class="help-block">Writer Errors</span>
            </div>
        </div>
        <div th:class="form-group" th:classappend="${#fields.hasErrors('content')}? 'has-error'">
            <label class="col-sm-2 control-label">Content <span class="required">*</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{content}"/>
                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:class="help-block">content error</span>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Teaser</label>-->
            <!--<div class="col-md-10">-->
                <!--<textarea class="form-control" rows="3" th:field="*{teaser}">teaser</textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div th:class="form-group" th:classappend="${#fields.hasErrors('body')}? 'has-error'">-->
            <!--<label class="col-sm-2 control-label">Body <span class="required">*</span></label>-->
            <!--<div class="col-md-10">-->
                <!--<textarea class="form-control" rows="7" th:field="*{body}">body</textarea>-->
                <!--<span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" th:class="help-block">Body Errors</span>-->
            <!--</div>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
    </body>
</layout:html>

