<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <title>Blog Home Page</title>
    </head>

    <form class="form-horizontal" th:object="${postObserver}" th:action="@{/observer/save}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div th:class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label class="col-sm-2 control-label">Email <span class="required">*</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{email}"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                      th:class="help-block">invalid email</span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Submit</button>

    </form>
</layout:html>




