<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>Blog Home Page</title>
    </head>
    <body>
    <h2>
        <a href="posts.html">Back to list of posts</a>
    </h2>
    <h1 style="text-align: center">Post detail</h1>
    <br></br>

    <h1>Title</h1>
    <p th:text="${post.heading} ">my text</p>

    <br></br>
    <h1>Author</h1>

    <p th:text="${post.writer.firstName}"></p>
    <p th:text="${post.writer.lastName}"></p>

    <h1>Short desciption</h1>
    <p th:text="${post.description}"></p>
    <p th:text="${post.content}"></p>

    </body>
</layout:html>

