<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>posts</title>
        <style type="text/css">

            table.tab {
                border-width: 2px;
                border-color: black;
                margin: auto;
                border-collapse: collapse;
                width: 600px;
                border-bottom-width: medium;

            }
        </style>
    </head>
    <body>
    <br></br>
    <h1>Posts</h1>

    <article th:each="post : ${posts}">
        <header>
            <h1 th:text="${post.heading}"></h1>
            <h2 th:text="${post.description}"></h2>
        </header>

    </article>

    </body>
</layout:html>

