<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <title>Blog Home Page</title>
    </head>
    <body>
    <h2>
        <a th:href="@{/}">Back to list of posts</a>
        <!--|@{/post/}${post.id}|-->
    </h2>
    <h1 style="text-align: center">Post detail</h1>
    <br></br>

    <h1>Title</h1>
    <p th:text="${post.heading} ">my text</p>
    <br></br>
    <h1>Author</h1>

    <p th:text="${post.writer.firstName}"></p>
    <p th:text="${post.writer.lastName}"></p>

    <h1>Short desciption</h1>
    <p th:text="${post.description}"></p>

    <h1>Content</h1>
    <p th:text="${post.content}"></p>
    <br></br>

    </body>
</layout:html>

