<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>Edit post</title>
    </head>
    <body>
    <h2>
        <a th:href="@{/}">Back to the list of posts</a>
    </h2>


    <h1>Title</h1>
    <p th:text="${post.heading} ">my text</p>


    <p th:text="${post.writer.firstName}"></p>
    <p th:text="${post.writer.lastName}"></p>

    <h1>Short desciption</h1>
    <p th:text="${post.description}"></p>
    <p th:text="${post.content}"></p>
    <br></br>


    </body>
</layout:html>
