<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <title>Blog Home Page</title>
    </head>
    <body>
    <table class="tab">
        <thead>
        <tr>
            <th th:text="#{author}"></th>
            <th th:text="#{email}"></th>
            <th th:text="#{seeAllPosts}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="writer : ${writers}">
            <td th:text="${writer.firstName}">first name</td>
            <td><a th:text="#{email}" th:href="${writer.email}"></a></td>
            <td><a th:text="#{seePosts}" th:href="|@{/postWriter/}${writer.id}|"></a></td>

        </tr>
        </tbody>
    </table>
    </body>
</layout:html>

