<!DOCTYPE html>
<layout:html lang="en"
             xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/layout :: head">
        <title>Blog Home Page</title>
    </head>
    <body>
    <h1>Login Page</h1>
    <br></br>

    <label for="username">User name</label>
    <input type="text" id="username" name="username" required="true"/>

    <br></br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required="true"/>
    <br></br>
    <button type="submit">Sign in</button>
    </body>
</layout:html>




